[2015-03-24 12:14] dani-carbonell opened #1 "Does not compile in hydro"
I have Ubuntu 12.04 - gcc version 4.6.4 - ROS Hydro

I don't know how to solve this error:

cc1plus: error: unrecognized command line option ‘-std=c++11’

[2015-03-24 13:29] gareth-cross commented on #1
If you change it to `-std=c++0x` - does that resolve the issue?

[2015-03-24 15:35] dani-carbonell commented on #1
I've modified this line in the CMakeLists.txt:
[code]
and I get this errors:

[code]

Which ROS version are you using?

[2015-03-24 15:52] gareth-cross commented on #1
I am using Indigo (1.11.10) on Ubuntu 14.04, with gcc 4.8.2. I do not have a Hydro machine handy at the moment. Historically I have had difficulty using the c++11 switch on Ubuntu 12, since it requires upgrading both gcc and boost.

[2015-03-24 16:07] dani-carbonell commented on #1
Thank you gareth for the fast answer.
I've just installed the package on Ubuntu 14.04 - Indigo and it compiles perfect. If I am able to install it on hydro I will let you know. By the moment I am interested in the functionality so I am testing it on Indigo.

[2015-04-07 20:58] mikehosmar opened #2 "QImageLoader Throwing Error"
I have been trying to get this package to work on my machine but I'm getting an error when the tiles are being downloaded.  I have tried poking around to see what's wrong but I'm not familiar with Qt so I've hit a bit of a wall.
I am running Ubuntu 14.04 with a full desktop install of ROS Indigo.

The issue is here: https://github.com/gareth-cross/rviz_satellite/blob/master/src/tileloader.cpp#L139

[2015-04-08 14:21] gareth-cross commented on #2
Hi Mike, apologies for the delayed reply. Are the URLs (to the images) themselves valid? They should appear in the console when you run rviz. Try pasting it into a browser and see if it corresponds to a real tile.

I am also running Ubuntu 14.04 w/ ROS Indigo but I have not experienced this issue yet.

[2015-04-08 18:26] mikehosmar commented on #2
Hey Gareth,
I did try that. At the default zoom level it wasn't valid but if I change the zoom level I still have the same issue.

I'm thinking that the library dependencies are my issue.  Do you have qt creator installed?  maybe libjpeg was installed during your development.

I wanted to check my installed packages.  Here is the output of `dpkg --get-selections | grep -v deinstall`.
I think libjp

[2015-04-08 18:46] mikehosmar commented on #2
Actually the effects of the settings in rviz are a bit more complex

1. When first added it does nothing because there is no topic
2. After a topic is selected the node starts downloading images in the area of http://otile1.mqcdn.com/tiles/1.0.0/sat/16/34386/22251.jpg
These are not valid.  The indicator here is that the resolution is set to 0 and isnt changing.  The Reading Ras error starts and th

[2015-04-09 13:38] gareth-cross commented on #2
Here is the output on my machine: http://pastebin.com/tS3HZNtq

It looks like I only have `libjpeg8` installed. What Qt version are you on? Mine is 4.8.6.

[2015-04-10 15:50] mikehosmar commented on #2
I also have 4.8.6. This might not be the problem I thought it was.  Do you know any other map sources that might have the tiles in .png? Testing it with that will show if the jpeg libraries are to blame.

[2015-04-15 19:10] mikehosmar commented on #2
I still havn't gottent it to work.  Do you mind trying to do the exact same thing I am?

I am using gazebo to simulate clearpaths jackal.  They have a gps simulator built into their example and I havn't changed their default start location.  I am just running the example gazebo launch file. launching the jackals rviz config and adding your plugin.  Once I do that I change the zoom to 10 then chang

[2015-04-20 23:00] gareth-cross commented on #2
Hi @mikehosmar, sorry for the slow reply - I have been very busy lately. Not sure if you have made further progress since your last post. I tried the steps you provided.

At the default zoom level (16) and Object URI there is no imagery for the starting point of the simulation (lat = 49.90001127, lon = 8.89998717). At zoom level 10 there is imagery. I have corrected the issue where the imagery wou

[2015-04-20 23:01] #1 closed

[2015-04-21 02:57] mikehosmar commented on #2
Hey,
Your branch seems good. it works on my end.

I am still seeing the `Reading ras files from sequential devices not supported` error and the display is saying that there isnt a transform from world to odom.  But it does work.

Thankyou,

Mike Hosmar

[2015-04-21 03:13] mikehosmar commented on #2
Hwen I move around the map the map seems to shift 90 degrees from the direction that I'm moving.  Any Ideas of why that is?

[2015-07-29 16:39] jpardeiro opened #5 "Extend NavSatFix msg"
Hi Gareth,

For my application I need to be able to reconfigure the zoom value by a topic instead of using the field in RViz. The way to solve that could be a modification of the NavSatFix msg for adding this parameter, or create a new one which will have just all the fields needed for your plugin. I want to ask you if there is any reason to not include this feature, or just nobody has need this b

[2015-07-30 06:07] gareth-cross commented on #5
It has not been necessary so far, although I can imagine why it might be useful. NavSatFix is part of the ROS framework, and cannot be modified so easily. Instead I can recommend two options:

1) Create a second topic to which the plugin can subscribe, and publish zoom levels on that topic.
2) Create a ROS service in the plugin which can be called externally by other nodes (or the user at the comm

[2015-12-02 16:29] chataign opened #14 "Reading ras files from sequential devices not supported"
I keep seeing this error message during tile loading: "Reading ras files from sequential devices not supported"

seems like it could be a Qt bug?

https://code.google.com/p/qimagegrabber/issues/detail?id=2

[2015-12-17 23:29] tdenewiler opened #15 "Render Level for Draw Behind"
In `rviz` when I have the `AerialMapDisplay` running with `Draw Behind` set to true and then I add a `Map` display type with `Draw Behind` also set to true the two layers swap which is on top. It seems that this is based on the height of the data in the `Map` topic. I was able to make the `AerialMapDisplay` always be behind the `Map` display type by changing `obj->setRenderQueueGroup(Ogre::RENDER_

[2016-01-07 09:17] chataign commented on #5
I think using a service would be the more natural way to solve this, though using a topic would potentially be faster as it is non-blocking. I can't really think of a use-case for this feature, but if I'm happy to implement it if needed.

[2016-06-15 05:01] davidrotor opened #21 "Segfault when loading satellite to rviz"
when I try to load the display it segfaults on ubuntu 16.04 with kinetic

[2016-06-15 07:51] chataign commented on #21
Hi David,

Are you saying that `rviz_satellite` is crashing instantly, even before you can configure it in `rviz`?

Could you run `rviz` with GDB to see if we can catch something in the backtrace?

http://wiki.ros.org/roslaunch/Tutorials/Roslaunch%20Nodes%20in%20Valgrind%20or%20GDB

Thanks

[2016-06-15 16:04] davidrotor commented on #21
ok I ran it with gdb and got this result

Thread 1 "rviz" received signal SIGSEGV, Segmentation fault.
0x00007fff771025a4 in ?? () from /usr/lib/x86_64-linux-gnu/libQtGui.so.4

On Wed, Jun 15, 2016 at 1:51 AM, Francois Chataigner <
notifications@github.com> wrote:

[2016-06-15 16:17] chataign commented on #21
Ok and what does it say if you type "bt" (backtrace) in gdb?

[2016-06-17 00:17] davidrotor commented on #21
Thread 1 "rviz" received signal SIGSEGV, Segmentation fault.
0x00007fff79c865a4 in ?? () from /usr/lib/x86_64-linux-gnu/libQtGui.so.4
(gdb) bt
#0  0x00007fff79c865a4 in ?? () from /usr/lib/x86_64-linux-gnu/libQtGui.so.4
#1  0x00007ffff7de74ea in call_init (l=<optimized out>, argc=argc@entry=1,
    argv=argv@entry=0x7fffffffdad8, env=env@entry=0x7fffffffdae8)
    at dl-init.c:72
#2  0x00007ffff7de7

[2016-06-18 04:07] davidrotor commented on #21
is it fixable? im using ros kinetic

On Thu, Jun 16, 2016 at 6:17 PM, david rodriguez <rod08018@gmail.com> wrote:

[2016-06-21 12:00] chataign commented on #21
Hi, I was hoping that gdb would give us more info but there isn't much in the debug output you sent.

I don't have a setup running Ubuntu 16.04 so I'm not able to test I'm afraid... Is there any chance you have a 14.04 setup? So you can confirm that the plugin is running OK? I have been using it with 14.04 + ROS jade and it's been working great

[2016-06-21 18:57] davidrotor commented on #21
I hace finales this week so Ill try to vmware it friday night and try it out
El jun. 21, 2016 6:00 AM, "Francois Chataigner" <notifications@github.com>
escribió:

[2016-07-06 14:24] tonybaltovski opened #23 "Indigo release"
Would you mind doing an indigo release, please?

[2016-07-12 07:04] skohlbr opened #24 "Only map levels up to 11 are properly retrieved from MapQuest for some locations"
When trying out the plugin for a location I'm interested in, I noticed that it only properly downloads map data from level 1 to 11. All others show grey image tiles with a crossed out camera. When viewing the same location on map quest, it is obvious higher resolution data than level 11 is available: http://mapq.st/29F0sQV

It seems that MapQuest did some API changes (the old URL says something th

[2016-07-12 07:14] skohlbr commented on #24
Fun stuff, just tested in simulation and now get this:
![rviz_map_quest](https://cloud.githubusercontent.com/assets/205963/16758265/e7957c2a-4810-11e6-825d-7863cfc4b2ec.png)

It seems this is a bigger problem with MapQuest that could require some major changes.

[2016-07-12 07:18] skohlbr commented on #24
Here's the blog post: http://devblog.mapquest.com/2016/06/15/modernization-of-mapquest-results-in-changes-to-open-tile-access/

tl:dr: One needs to register now to still be able to access tiles. 15000 monthly transactions are free.

[2016-07-12 07:46] skohlbr commented on #24
These tile URLs worked as a quick fix for me (not satellite, but better than nothing):
http://tile.stamen.com/watercolor/{z}/{x}/{y}.jpg
http://tile.stamen.com/toner/{z}/{x}/{y}.png
http://a.tile.thunderforest.com/landscape/{z}/{x}/{y}.png

[2016-07-12 07:58] gareth-cross commented on #24
Did a quick investigation into this. Seems like even w/ the MapQuest key, the old tile URL does not work anymore. They _do_ still provide tile access through the Leaflet/JavaScript API, documented [here](https://developer.mapquest.com/documentation/leaflet-plugins/migration-guide).

However, upon further inspection, the access point for their JavaScript API (listed as MapQuest JavaScript SDK) simp

[2016-07-13 10:49] skohlbr commented on #24
Thanks for the update! I can confirm things work for me using the URL with the access token at the end.

[2016-07-15 07:19] #24 closed

[2017-04-03 14:19] #23 closed

[2017-05-10 12:38] CesMak opened #34 "Plot markers in map."
Hey there,
I just want to plot gps points with markers on a map. Therefore I want to use your rviz_satellite package.
To do that I launched your demo file and also played the sample.bag file. Next I tried to create a marker that subscribes to topic /gps/fix. This however did not work for me .....

question:
How to use the bagfile correctely and display gps data as markers?

Hope you can help me.

[2017-07-10 15:23] m-naumann opened #35 "Use frame of NavSatFixMsg"
Hello Gareth,

great work, I really like this plugin!

Concerning the `robot frame` property, I misunderstood the plugin:
I expected the plugin to read the frame that corresponds to the (lat,lon)-coordinates from the NavSatFix message, as the latter contains that information ([NavSatFix](http://docs.ros.org/api/sensor_msgs/html/msg/NavSatFix.html)).
With this, I thought the robot frame was there t

[2017-07-14 18:33] CesMak commented on #35
Hey m-naumann,
I think I would like to do the same as you:
I want the coordinate system to be fixed! Plot the latitude longitude position of the robot in the map. And just load those tiles of the that are required if the robot goes over the edges ....

Best
Markus

PS: you can also write me an email at 2f4yor@gmail.com

[2017-07-15 13:55] m-naumann commented on #35
Hey Markus,

what the plugin currently does is fixing the (lat,lon) of the NavSatFixMsg to the frame `robot_frame`.

I think it should
* fix the (lat,lon) of the NavSatFixMsg to the frame of the NavSatFixMsg

and
1) either load the tiles only around the frame of the NavSatFixMsg and make the `robot frame` read only
2) or load the tiles around the frame `robot frame`, using (lat,lon) corrdinates th

[2017-12-22 21:16] nxdefiant commented on #21
Confirmed for lunar and probably all later ros distros. CMakeLists.txt only checks for kinetic in line 8.

[2018-02-28 15:04] reinzor opened #38 "Use this plugin with a transform or Odometry"
Hi,

We are fusing various sources to obtain our final position estimate in UTM frame. Can we use this plugin without a NavSat message? If not, could you provide me some pointers for implementing this?

Thanks

[2018-12-04 09:34] #21 closed

[2019-01-15 14:25] nofear123 opened #46 "How to replace openstreetmap with Google Map"
Compared with Google,OpenStreetMap and MapBox are updated slowly.So I found the URI of Google tiles Maps on the Internet. Then I directly replaced the object uri with the uri of Google Maps on AerialMapDisplay.
In the end, although Google Maps can be displayed on the rviz, the scale of the map is incorrect, **so some people know how to modify the scale**?

Thank you.

[2019-03-07 17:27] beetleskin commented on #38
@reinzor I guess this is outdated?

To answer the question: of course, you can fork this plugin and use your custom-message instead of the NavSat one.

[2019-03-07 17:27] beetleskin commented on #46
what link-template and other settings are you using?

[2019-03-09 13:41] nofear123 commented on #46
This is my link to use the Google map, you can try it.This link has a lot of parameters to adjust.
http://mt2.google.cn/vt/lyrs=y&scale=1&hl=zh-CN&gl=cn&x={x}&y={y}&z={z}

[2019-03-12 10:08] reinzor commented on #38
Thanks for your reply, this is indeed outdated for me so I will close the issue.

[2019-03-12 10:08] #38 closed

[2019-03-12 13:34] beetleskin commented on #46
it works for me with http://mt0.google.com/vt/lyrs=s&hl=en&x={x}&y={y}&z={z}&s=Ga

Maybe play a bit with the other params?
However, using those links without api is deprecated and might have some legal issues. Just fyi.

[2019-03-12 13:35] beetleskin commented on #34
very unrelated to this plugin, @schra plz close.

[2019-03-12 13:38] beetleskin commented on #15
Setting this to `Ogre::RENDER_QUEUE_3` is your personal preference, others might prefer something else. @schra this wont fix

[2019-03-12 13:48] schra commented on #2
@mikehosmar I'm closing this issue for now. If this issue still applies to the current version, I'll reopen this issue again.

[2019-03-12 13:48] #2 closed

[2019-03-12 13:56] schra commented on #5
@jpardeiro We don't have this use case and therefore will not implement this ourselves. However you are welcomed to provide a PR for your feature request.

[2019-03-12 13:56] #5 closed

[2019-03-12 14:36] schra commented on #14
@chataign I didn't encounter this error message yet. If this issue still applies to the current version, I'll reopen this issue again.

[2019-03-12 14:36] #14 closed

[2019-03-12 14:42] schra commented on #15
@beetleskin This was already merged in #28

[2019-03-12 14:42] #15 closed

[2019-03-12 14:45] nofear123 commented on #46
Yes, your link is useful. I compared your link to my link  and modified some params. I found the parameter in my link that caused my problem is "&gl=cn". Thank you for your answer.

[2019-03-12 14:51] schra commented on #34
@CesMak We won't add such a functionality to this plugin since this plugin is solely for displaying a map.

[2019-03-12 14:51] #34 closed

[2019-03-12 14:53] #46 closed

[2019-03-12 14:55] nofear123 commented on #46
@beetleskin Thanks for your answer.

[2019-03-12 15:21] schra commented on #35
@m-naumann I rewrote parts of how the frames are being transformed, see the [current implementation](https://github.com/gareth-cross/rviz_satellite/blob/f78f5f6c650f9919fda444d5f3358bd8fc19f5d9/src/aerialmap_display.h#L112-L133). Can you confirm that this issue still applies to the current version 1.2.0?

Furthermore, I don't really understand the motivation behind this issue. If it only concerns

[2019-03-12 16:18] m-naumann commented on #35
Hi @schra

yes, the problem is still the same: you ignore the frame of the NavSatFix-Message and do not list it in the documentation link ([current implementation](https://github.com/gareth-cross/rviz_satellite/blob/f78f5f6c650f9919fda444d5f3358bd8fc19f5d9/src/aerialmap_display.h#L112-L133)).

The interesting point is the robot frame: It has two purposes: 1. You don't want to load the tiles of the

[2019-03-13 16:54] david-alejo opened #48 "Tile Loader not showing the tiles in the proper place"
Dear all,

First of all, thank you for the development of this plugin that I've found very handy.

I upgraded to the latest version yesterday to make it work in 18.04. I have found that now the satellite images are no longer in the proper placed. Instead, they appear with a small shift to the South and East.

I attach an example with the representation of coordinates 41.38738993 N  2.183433017 E i

[2019-03-19 16:34] beetleskin commented on #35
I don't quite understand the problem you describe with the current setup. Whatever robot-fixed frame I set, I can't observe any glitches or jumps, even with setting the gps rate to 1 and tf-updates to 100. Can you provide a basic setup/video to reproduce what you mean? Its hard without anything visual. Despite that, are you really sure you're using the latest version?

However, its seems indeed a

[2019-03-19 16:52] beetleskin commented on #48
Is your robot_frame equal to the frame_id in the NavSat message?

Could you provide a minimum working example to reproduce, via a PR?

[2019-03-19 16:54] beetleskin opened #49 "demo.launch produces errors"
Launching the demo.launch should not produce errors.

It's complaining about missing frames. Generating two frames (e.g. "map" and "gps_sensor") by  adding a tf-publisher in the launch-file should fix that.

[2019-03-21 09:11] david-alejo commented on #48
Thank you for your kind response. I'm checking the frame_id and if I can't correct it, I will provide a MWE.

Regarding to the tile served, I checked Google Maps and OpenStreetMap.

[2019-03-21 14:06] david-alejo commented on #48
I created a PR related to this issue as a minimum working example. In it, you can see a marker and the axes in the reference frame map. They do not correspond with the location of /gps/fix when using google maps.

[2019-03-22 11:39] beetleskin commented on #48
Well, the demo is currently not working properly, the display produces an error. In your PR, please add

`<node pkg="tf2_ros" type="static_transform_publisher" name="static_transform_base_link_applanix" args="0 0 0 0 0 0 map base_link" />
` and set the robot_frame to base_link. And try again.

Can you confirm that this works? If so, this is a duplicate of #49.

[2019-03-22 11:55] david-alejo commented on #48
Interesting. By doing so the tiles are loaded OK.

However, it is not clear why this is necessary. I mean: the plugin was configured to have /map as robot frame, why is it necessary to use the base_link frame?

[2019-03-22 13:09] beetleskin commented on #48
Its not necessary (I think) - but some frames need to be defined. That's true for most Display plugins, and for RViz itself.

[2019-03-22 15:28] david-alejo commented on #48
Ok it makes sense, I'm closing the issue as it is somehow duplicated with yours.

Thank you for your kind responses. Best regards,

[2019-03-22 15:28] #48 closed

[2019-04-23 14:56] beetleskin commented on #48
@schra maybe this isn a pure duplicate - I think the plugin should complain if frames are missing, rather than rendering bullshit. What do you think?

[2019-04-29 17:05] schra opened #51 "Don't show map if transform is missing"
If AerialMapDisplay/Status/Transform shows the error `Fixed Frame [map] does not exist` then the map shouldn't be drawn at all. This leads to confusing results, see #48

[2019-04-29 17:05] schra commented on #48
Good point. I created an issue for this.

[2019-04-30 16:28] beetleskin commented on #51
Could be done by using [MessageFilterDisplay](http://docs.ros.org/jade/api/rviz/html/c++/classrviz_1_1MessageFilterDisplay.html), like [most display plugins](https://github.com/ros-visualization/rviz/tree/melodic-devel/src/rviz/default_plugin) do.

[2019-05-03 15:03] #49 closed

[2019-05-13 15:19] RonaldEnsing commented on #35
I've created this PR #53. As far as I know the `frame_id` can safely be deduced from the `frame_id` in the header of the gps message. Please let me know if I misunderstood.

[2019-05-13 17:32] m-naumann commented on #35
You are right, that's option 1. The only thing I would change is keep the `robot frame` property but make it read-only, such that one sees what frame is currently used.

[2019-05-15 08:55] RonaldEnsing commented on #35
I think that making `robot frame` a _read-only_ property would also be fine. However, wouldn't having a `robot frame` property at all, may already be confusing? I think that it would be safe to expect that the `frame_id` of the `Topic` would be used, like for other common rviz plugins.

If there would be a selectable frame property, then I would expect it to be an option for `world frame`. Somehow

[2019-05-15 10:18] beetleskin commented on #35
Sounds reasonable. I vote for using the _frame_id_ of navsat for the robot frame (I agree, this is fair to assume and default everywhere) - and either replace "robot frame" with "map frame", or remove it completely and set "map" as default (as is).

@schra we also observed this, would you open an issue'?

[2019-05-15 11:58] RonaldEnsing opened #54 "Unable to select fixed frame"
The AerialMapDisplay plugin sets the fixed frame in rviz to `map` [1]. As a user I would expect that I can select the fixed frame in rviz. The fact that this plugin resets the fixed frame back to `map` every time I try to change the fixed frame is confusing.

The AerialMapDisplay ensures that the visualization will be drawn with the right position and orientation after changing the fixed frame to

[2019-05-15 20:03] m-naumann commented on #35
Now I am a little confused: The purpose of the NavSatFixMsg is to provide exactly this information, or am I wrong? It states which frame('s origin 0,0,0) corresponds to which geographic(lat/lon/ele) coordinates. If there was one fixed transformation, such as "the UTM base frame is `map`", then why do you need a NavSatFixMsg, you can as well load tiles around a PoseStamped (by computing where this

[2019-05-16 09:05] RonaldEnsing commented on #35
The `NavSatFix` message does not provide orientation. If you would be able to configure the fixed frame to any frame (#54), then the visualization could have an incorrect orientation. Suppose that you would set your fixed frame to the frame of the `NavSatFix` (the robot) and your robot moves (rotates) around a corner, the visualization will not rotate accordingly, making it look like the robot mov

[2019-05-17 14:27] RonaldEnsing commented on #54
See this commit [2] to allow any selectable fixed frame in rviz. This does require your `tf` tree to have a `utm` frame, also to get the orientation of the tile with respect to your robot.

[2] https://github.com/tud-cor/rviz_satellite/tree/799e65d6800677f67737b6a776de3a2454cf1e11

[2019-05-17 14:40] RonaldEnsing commented on #35
@m-naumann You may want to take a look at this commit (https://github.com/tud-cor/rviz_satellite/commit/a8d2e207a53a13e46424c5c7c36a8c41e23df6a1) which requires a `tf` containing `utm` frame which is connected to your robot, downloads the tile according to the `NavSatFix` messsage, and allows any frame to be selected as the fixed frame.

[2019-05-18 00:27] m-naumann commented on #35
@RonaldEnsing I implemented my suggestion starting from what you did. See the PR for details.

https://github.com/gareth-cross/rviz_satellite/pull/55

[2019-05-18 00:38] m-naumann commented on #51
I encountered the same while working on #55

The easiest would be to set `scene_node->setVisible(false);` but the problem I see is that there are cached tiles that are made invisible, and when setting `scene_node->setVisible(true);` after successful transformations, they are all set to true, so also old/irrelevant tiles are shown.

[2019-05-20 14:00] beetleskin commented on #35
Why would that prevent the jumping?

[2019-05-20 14:07] beetleskin commented on #54
Could you elaborate this a bit? How is the plugin resetting the fixed frame?

You can already select any frame in RViz, the map will transform accordingly assumed that `map` is your UTM frame, i.e. is aligned as you define your global coordinate system (e.g. ENU).

[2019-05-20 14:45] RonaldEnsing commented on #35
Suppose that your `NavSatFix` sensor is rigidly attached to your robot, your fixed frame is set to map and you publish the `map->robot` using `tf`. The tile should now have a static position in rviz (until you drive into another tile number of course), and the robot moves. Every time a `NavSatFix` message is received, the tile is transformed and visualized. Both `tf` [1] and the `NavSatFix` messag

[2019-05-20 14:49] RonaldEnsing commented on #54
The fixed frame is set to `map` here https://github.com/gareth-cross/rviz_satellite/blob/master/src/aerialmap_display.cpp#L515

Removing that line would not be enough.

[2019-05-20 16:55] schra commented on #54
I can confirm this bug and will fix it as soon as possible.

[2019-05-20 17:06] schra opened #56 "Fix map jumping"
Currently the map jitters/ jumps around a bit. Here https://github.com/gareth-cross/rviz_satellite/issues/35#issuecomment-494018345 are thoughts on the current situation.

[2019-05-20 17:10] schra commented on #35
Just to summarize the current situation:
* #53 is implementing the first proposal. Additionally it also completely removes the robot_frame_id which I also prefer.
* #55 is implementing the second proposal.

According to http://www.ros.org/reps/rep-0105.html#map the `map` frame has to exist. Thus I don't see why we should make this frame configurable?

I created #56

[2019-05-20 17:21] m-naumann commented on #35
That's true, however #55 also allows for the first option, by simply setting the robot frame to the `NavSatFix` frame.

[2019-05-21 11:20] RonaldEnsing commented on #35
I agree. It does not *have* to be configurable. I could have emphasized the "*If*". I wanted to make clear that I do not expect a configurable robot frame if it has to be set to the `frame_id` of the `NavSatFix` message anyway. However, in #35, the robot frame is sometimes referred to as the frame to load the tiles around. See this [1] comment for more details:

This [2] PR is much simpler because

[2019-05-21 16:52] m-naumann commented on #35
IMHO the world frame cannot be configurable, because the `NavSatFix` defines it.

True, PR #53 keeps the current behavior regarding where to load the tiles.

But it also regards rviz' fixed frame as the frame where the ENU (or any other) convention is applied. Thus, it contraints the usage a lot, because you cannot set any moving frame as fixed frame (for example the frame of LIDAR scanner on a ve

[2019-05-21 17:40] RonaldEnsing commented on #35
The `NavSatFix` gives the geographic coordinates of the receiver (the associated `frame_id`) [1]: "_header.frame_id is the frame of reference reported by the satellite receiver, usually the location of the antenna.  This is a Euclidean frame relative to the vehicle, not a reference ellipsoid._" A map or world frame would be static w.r.t. geographic coordinates. I agree that we can expect users to

[2019-05-21 17:59] m-naumann commented on #35
So then, why not use #55 which extends #53 which extends the current version?

I just want to use the `NavSatFix` message + orientation convention to clearly and uniquely define the geo-coordinates to `tf` conversion/projection without any further specifications that confuse people.

What you propose is to use some parts of the NavSatFix and then also other frames, tf's, ... If you provide a NavSa

[2019-06-05 08:39] yossioo opened #57 "Support for Qt 5 [FeatureRequest]"
Compiling with catkin build on Kubuntu 18.04+Melodic:
Found unsuitable Qt version "5.9.5" from /usr/bin/qmake, this code requires Qt 4.x

Any plans to adapt to Qt 5?

[2019-06-05 12:19] schra commented on #57
We are already supporting Qt 5. See the `CMakeLists.txt`.

I also just checked this and succeeded compiling the plugin with the following setup:
* Ubuntu 18.04.2
* ROS melodic
* Qt 5.9.5

Please check your Qt installation and check that `rviz_QT_VERSION` inside of `CMakeLists.txt` is really equal to `5.9.5`.

[2019-06-05 16:35] yossioo commented on #57
Well, for some reason I had some really old version of this package:`<version>0.0.2</version>`
Cloning fresh resolved the problem.

[2019-06-05 16:35] #57 closed

[2019-09-26 23:53] autonomobil opened #60 "How to calculate the x,y-tile-coordinates from lat,long if given images in EPSG25832-projection method?"
Hello there,

I have a question regarding the creation of the WMTS server requests.

From [this](https://www.bezreg-koeln.nrw.de/brk_internet/geobasis/luftbilderzeugnisse/digitale_orthophotos/index.html) german governmental-website I can get the address for their WMTS server: https://www.wmts.nrw.de/geobasis/wmts_nw_dop. I can successfully integrate it into josm as an image layer (wmts:https://www

[2019-09-27 16:05] schra commented on #60
Hey Moritz,

could it be that the tiles are just twisted wrong? Would the tiles be correct if you rotate them 90° to the right and then mirror it along the x-axis (so that the old top of the tile is the new bottom)? I have a line in the code that mirrors some axis: https://github.com/gareth-cross/rviz_satellite/blob/40bc9c5caf4fee1079333d37792e029da082700c/src/aerialmap_display.cpp#L416-L419
You c

[2019-10-07 13:45] schra commented on #60
I'm closing this issue for now.

[2019-10-07 13:45] #60 closed

[2019-10-24 11:33] weisongwen opened #61 "Rotate the map image"
Hi @gareth-cross  Thanks for sharing this meaningful package.

How can I rotate the map image in the Rviz ? for example rotate 45 degrees with z axis.

Best,
Welson,

[2019-10-25 13:30] schra commented on #61
Hey Welson, this plugin doesn't provide such a functionality. You have to adjust the source code for that. Could you elaborate on your use case?

[2019-11-01 16:35] schra commented on #61
Closed due to inactivity

[2019-11-01 16:35] #61 closed

[2019-11-04 02:39] weisongwen commented on #61
Hi @schra
I have just fixed this problem by set rotation to the scene_node_. The code is added as follows:
`
Ogre::Matrix3  xyz_R_ned;
  Ogre::Radian radx(Ogre::Real(0*  3.1415926 /180));
  Ogre::Radian rady(Ogre::Real(0* 3.1415926 /180));
  Ogre::Radian radz(Ogre::Real(rotateAngleinDegree * 3.1415926 /180));
  xyz_R_ned.FromEulerAnglesXYZ(radx,rady,radz);
  position = xyz_R_ned * position;
  scen

[2019-11-28 09:39] schra opened #64 "Drop support for Qt4"
To fix #62, support for Qt4 should be dropped.

Also refer to https://github.com/ros-visualization/rviz/issues/1314

[2019-11-29 07:27] Timple commented on #38
There is a workaround if you use the [navsat_transform_node](http://docs.ros.org/melodic/api/robot_localization/html/navsat_transform_node.html). You can set the `~publish_filtered_gps` parameter which will output a `/gps/filtered` topic which will contain your fused position in gps notation which you can then use for this plugin.

[2020-02-18 13:18] tomlogan501 opened #67 "Bug in the demo ?"
Hi,
I try to launch the demo.launch and this is what happen :

I'm using only source of ROS because I'm on 19.10 Ubuntu.

How can I fix this ?

[2020-02-20 10:57] iampy1 commented on #67
I have the same issue. Please provide solution.

SUMMARY
========

PARAMETERS
 * /rosdistro: kinetic
 * /rosversion: 1.12.14

NODES
  /
    fake_gps_fix (rostopic/rostopic)
    rviz (rviz/rviz)
    static_tf_fake (tf2_ros/static_transform_publisher)

auto-starting new master
process[master]: started with pid [7116]
ROS_MASTER_URI=http://localhost:11311

setting /run_id to d0c54dfe-53ce-11ea-b968-0

[2020-02-20 12:44] iampy1 commented on #67
Hello!

I found the solution although could not quite figure out why the error appears the way it does.

So, in file 'demo.rviz', under 'Visualization Manager -> Blocks' change the value from 3 to 8 (this the maximum value for the block field). Now run the 'demo.launch' again. It works!

PS: Once the rviz opens up, on the left side you can change the value of 'Blocks' to 3 again if you want.

Chee

[2020-03-12 14:25] Timple commented on #64
What is the status of this? :)

[2020-04-02 19:10] #67 closed

[2020-04-02 19:11] schra commented on #67
Thanks for reporting this issue, `demo.launch` works again :)

[2020-04-07 16:24] blacksoul000 opened #69 "Create branch for ROS2 port"
I did the initial port to Dashing.
https://github.com/blacksoul000/rviz_satellite
Some problems with console output but it compiles and works.
Thanks

[2020-04-17 12:32] #54 closed

[2020-04-17 13:29] beetleskin opened #70 "Cleanup cmake"
The cmake setup has some errors, and flaws:
- ogre stuff is obsolete
-  ${QT_LIBRARIES} is empty resp. redundant to including the individual libs
- no target defined and used

[2020-04-17 13:30] #64 closed

[2020-04-17 16:55] schra commented on #69
Thanks for the initial porting! We are thinking about providing a ROS2 branch, but I'm not sure to what extend I can provide maintenance for it. I'm currently stuck with ROS1, so the main development will definitely continue on the ROS1 version for now. I'm also not really sure if it's feasible to provide both ROS1 and ROS2 versions in parallel? Anyway, I will post an update here if there is an up

[2020-04-17 18:35] beetleskin commented on #35
@schra this is done, right? with #59?

[2020-04-18 00:19] schra commented on #35
#53 fixed the original problem, so we can close this issue. As we don't have an application for having a separate frame to load the frames in, I don't see that we will add this feature in this repository. However, we could continue discussion in another issue if this is something that you really want to have included.

[2020-04-18 00:19] #35 closed

[2020-04-19 19:57] beetleskin opened #74 "The resolution property is never updated"

[2020-04-19 19:58] beetleskin opened #75 "Coding-Style is mixed up"
We have a wild mixture of camelCase and under_score notation. We should stick to the convention of RViz (under_score).

[2020-04-19 19:58] beetleskin opened #76 "IncludeWhatYouUse"
We have a lot of unused and historic includes in the main files.

[2020-04-19 20:34] beetleskin opened #78 "CI integration"
.. or should we rather stick with the ROS buildfarm hooks?

However, we should incorporate basic CI checks, linting and unit-testing.

[2020-04-19 21:03] schra commented on #78
Yeah this is something that we definitely should do. I also think integration into the ROS buildfarm is something we should do anyway.

It seems that there is no GitHub-integration of the ROS buildfarm? If you look at a ROS repo, for example https://github.com/ros-planning/moveit, they always use Travis.

I'm not familiar with both GitHub actions or Travis, but I'll have a look at this.

[2020-04-20 07:16] Timple opened #80 "ROS build farm integration"
I've noticed a lot of refactoring being done. Glad to see this code is maintained!

Would you also be interested in creating a release for melodic so we don't need to build from source?

Thanks for considering!

[2020-04-22 16:14] schra commented on #80
Not totally sure what you are referring to with a Melodic release.

But regarding not building from source: Integration into the ROS build farm is something that we might do in the future. What I can definitely do however, is to attach a .deb file to next releases.

[2020-04-22 16:59] #70 closed

[2020-04-23 05:21] Timple commented on #80
Integration into the ROS build farm is exactly what I meant. It is like a 2 hour job the [first time](http://wiki.ros.org/bloom/Tutorials/FirstTimeRelease) you do it. After that pushing updates is easy.

No need to attach .deb files, that would be a-typical from all other ROS packages and (thus) we wouldn't use that.

Thanks for considering!

[2020-04-25 21:18] beetleskin opened #81 "Add selectable default map provider"
To make the life of the user easier, we should add default map providers via a select-property, along with the tile-url field.
- check licenses/usage terms and make them transparent
- some potential overviews:
  - https://wiki.openstreetmap.org/wiki/Tiles#Servers
  - https://github.com/DenisCarriere/map-providers
  - https://openmaptiles.org/
  - https://github.com/osmdroid/osmdroid/wiki/Map-Sourc

[2020-04-28 16:29] #56 closed

[2020-04-28 16:34] schra commented on #51
From #72:

[2020-04-28 16:41] schra commented on #81
I don't think that there is any tile server provider that has a license that would allow us to ship them in this plugin. AFAIK Google doesn't allow to use their URI at all and OSM restricts its usage to loading one tile per second or something like this. I also haven't checked the license of a lot of provides, so idk, maybe there is actually a provider that we could use.

[2020-04-28 16:43] schra opened #82 "Show error if URI is an invalid URI"
From #72:

and:

[2020-04-29 22:09] beetleskin commented on #81
@dseifert any hints/ideas on that?

[2020-05-01 18:01] beetleskin commented on #74
not sure why #77 is not linked automatically ..

[2020-05-05 22:54] schra commented on #74
#77 is now merged, closing

[2020-05-05 22:54] #74 closed

[2020-05-05 22:59] schra commented on #78
Idea from #79:

[2020-05-11 21:22] beetleskin commented on #69
@blacksoul000 if you could rebase towards #79 (soon to be integrated), we could create a dashing/foxy branch to use.
Related to #80.

[2020-05-15 07:24] KalanaRatnayake opened #83 "is it possible to convert 2D nav goal to actual gps?"
I have been looking at various drone trajectory planners and they expect either a GPS or xyz coordinates to functions. Since this plugin supports visualizing map on rviz, would it be possible to convert/improve "2D nav goal" functionality on rviz to  output GPS coordinates of the selected location? i can assume that the calculation depend on zoom level, (some thing like 2D nav goal -> scaled up di

[2020-05-15 09:48] dseifert commented on #83
Calculation does not depend on zoom level. I don't think it makes sense to put it into this plugin, as there would be basically zero overlapping code/functionality.

To translate from ENU (xyz coordinate, or with 2D nav goal limited to xy) to GPS (WGS84, limited to lat/lon for 2D) you could use existing ROS packages/libraries (quick googling found https://github.com/ethz-asl/geodetic_utils/blob/ma

[2020-05-16 14:21] KalanaRatnayake commented on #83
Nice! Thanks. I'll look it up

[2020-05-22 11:00] Timple commented on #80
Today a [call for testing](https://discourse.ros.org/t/ros-noetic-call-for-testing/14203) was done on discourse for Noetic, so when this issue is picked up, please also release for Noetic :slightly_smiling_face:

[2020-05-26 16:41] #76 closed

[2020-05-26 20:13] #75 closed

[2020-06-09 09:15] blacksoul000 commented on #69
rebased and works.

[2020-06-13 13:33] beetleskin commented on #69
@schra would you help out, and create an eloquent/foxy branch?

[2020-06-15 13:13] Martin-Oehler opened #84 "Wrong location in demo"
I tried to run the demo and was shown the following location:
![rviz_screenshot_2020_06_15-15_10_06](https://user-images.githubusercontent.com/7110154/84661365-898dbf00-af1a-11ea-913f-d4b758eee120.png)
If I enter the same coordinates into a different site, I am shown a different location, which appears to be further in the south.

![image](https://user-images.githubusercontent.com/7110154/84661296

[2020-06-16 08:12] beetleskin commented on #84
Can confirm, looks like this was introduced in 5431732.

[2020-06-16 08:43] Martin-Oehler commented on #84
I can confirm, that 0028d57dceca888cad3e27239e132d15dd713cf0 does not show this behavior.

[2020-07-14 20:57] lyrem0007a commented on #84
I still have the same problem. 48.197119, 11.578062.

[2020-07-15 22:52] mishrasubhransu commented on #84
Still have the same issue [[39.326465, -76.621554]. First image is incorrect and second image is correct location.
![image](https://user-images.githubusercontent.com/598837/87607816-356a2c00-c6cc-11ea-8747-a7a3bfc8d006.png)
![image](https://user-images.githubusercontent.com/598837/87607840-3e5afd80-c6cc-11ea-8a61-7afeba537df2.png)

[2020-07-16 20:12] lyrem0007a commented on #84
I check out 0028d57 and it works well.

[2020-07-19 09:17] beetleskin commented on #84
Please check out #85, it's waiting for reviewand should fix this.

[2020-07-28 03:40] qian5683 opened #86 "Could this package support map rotation？？"

[2020-08-02 23:13] schra commented on #86
What kind of rotation you are talking about?

[2020-08-02 23:17] schra commented on #83
Agreed, we will only support positions via GPS

[2020-08-02 23:17] #83 closed

[2020-08-02 23:30] schra commented on #69
@blacksoul000 I added a note about your repository in the README in 83f093d96f4a4baf43b8c79716ae499804dc3738. Thanks again for your effort :)

@beetleskin I won't integrate any ROS 2 code in this repository yet

[2020-08-02 23:30] #69 closed

[2020-08-02 23:48] schra commented on #81
I just checked a few providers and all of them prohibit us to use them:

* OpenStreetMap

  From https://operations.osmfoundation.org/policies/tiles/:

* WikiMedia OSM

  From https://foundation.wikimedia.org/wiki/Maps_Terms_of_Use:

* Thunderforest

  From https://www.thunderforest.com/terms/:

Even if there is a provider that allowed us to use them, there are more issues to tackle: When using de

[2020-08-02 23:48] #81 closed

[2020-08-03 02:11] schra commented on #84
Fix is merged now

[2020-08-03 02:11] #84 closed

[2020-08-03 11:09] beetleskin commented on #86
hopefully he does not mean ENU vs NED .. :D

[2020-08-04 09:44] #86 closed

[2020-08-04 12:46] pavloblindnology opened #87 "ROS2"
Hi,
Are there any plans to migrate to ROS2?
Thanks

[2020-10-14 09:34] Earthwings opened #89 "Compilation fails on ROS Kinetic"
This used to work fine in ROS Kinetic, but the introduction of getTF2BufferPtr() in https://github.com/gareth-cross/rviz_satellite/commit/0e8ff386c78a1cd036b1f57022a22ceae05b4497 doesn't work there:

[code]

I think querying it from `getTFClient()` (see http://docs.ros.org/kinetic/api/rviz/html/c++/classrviz_1_1FrameManager.html#a6eb09c3609b6591faee43483186b8730 ) would already work around it.

Wo

[2020-10-16 23:56] schra commented on #89
Ops, that wasn't planned. Sorry. I'll add a CI to this repo soon, then this shouldn't happen anymore.

Would it be possible that you provide a PR to re-add support to kinetic?

[2020-10-30 08:12] blacksoul000 opened #90 "Wrong tile positioning"
Tile is always positioning with left bottom corner in (0, 0)

ROS version:
foxy/noetic

Steps to reproduce:
Publish gps position with rqt and open plugin in rviz

RViz result:
![Screenshot_20201030_110755](https://user-images.githubusercontent.com/5609587/97675331-2f902f00-1aa0-11eb-806d-b8e335b24000.png)

OSM result:
![Screenshot_20201030_105251](https://user-images.githubusercontent.com/5609587/

[2020-11-03 01:52] haritha-m opened #91 "Unable to get real-time map update"
Hello! Thanks for this great plugin.

I'm trying to visualize the changing GPS position of a robot in real-time. I added the AerialMap plugin to rviz, and added an "axes" object to mark the base_link frame of the robot.

Unfortunately, I am not able to visualize the position of base_link changing in real-time. When I press the "reset" button at the bottom of rviz, the position is updated; but othe

[2020-11-11 19:29] ceranit commented on #90
In what frame is your NavSatFix published? It should either be "map" or your should change the `AerialMapDisplay::MAP_FRAME` in line 62 of _aerialmap_display.cpp_ to whatever your frame_id is. I had a similar problem in eloquent/melodic so I hope this fix works for you too.

[2020-11-12 07:33] blacksoul000 commented on #90
@ceranit
In 'map' frame. Have you tried the same?
**RViz**
Fixed frame: map
Object URI: https://tile.openstreetmap.org/{z}/{x}/{y}.png
zoom: 17
blocks: 0
**Rqt**
frame: map
latitude: 33.893962
longitude: -77.036484

[2020-11-12 10:30] ceranit commented on #90
@blacksoul000 Yeah for me the problem was that the frames didn't match so changing it to "map" fixed it. But using those setting it looks fine to me

![Screenshot from 2020-11-12 11-29-28](https://user-images.githubusercontent.com/49021015/98928667-5b68d700-24da-11eb-8783-901db02bd284.png)

[2020-11-18 06:11] #90 closed

[2020-11-18 14:48] TobiMiller opened #92 "Not accurate in use with robot_localization transform"
Hey,
i am using the transform method in robot_localization to get XY from LL. I take the same origin for the transform of GeoPoints and for rviz_satellite. i set "map" as frame_id for the navsat message.

why do i get this offset? do you use different transform functions? Are the Map-Tiles generated by a different method?

![Screenshot from 2020-11-18 15-43-59](https://user-images.githubuserconten

[2020-11-23 11:39] YomoguyX opened #93 "Force Offline Mode?"
I'm trying to add a feature to this plugin that will force it to only utilize cached data, but it appears that the saved images expire extremely quickly. How should this be addressed?

[2020-11-23 11:50] YomoguyX commented on #93
Disregard this issue - it turns out our repository was running a very old version of this software, and updating it to the current version has appeared to solve the issue.

[2020-11-23 11:50] #93 closed

[2020-12-01 19:21] beetleskin commented on #92
Hi Tobi, from the image alone its hard to judge what's going on there.

What'd be the ground-truth here, a trajectory on the "Blückerplatz" street? Could you provide an image with ground-truth in order to judge the error a bit better? Are you on latest master version?

To narrow it down: What GPS are you using, how good is the extrinsic calibration, how good is you tf-tree? What is the NavSatFix u

[2020-12-01 19:28] beetleskin commented on #91
Its a bit hard to understand your concern. What does this plugin have to do with the Axis Display you render in RViz?

[2020-12-22 14:58] Timple commented on #80
Would you mind if I release your package to the buildfarm?

[2020-12-29 12:14] schra commented on #91
I agree, it is hard to understand what you exactly mean. Please create a short video of showcasing what you mean. Until then I will close this issue.

[2020-12-29 12:14] #91 closed

[2020-12-29 12:16] schra commented on #92
Will re-open this issue when there is feedback from OP. Closed to a lack of feedback for now

[2020-12-29 12:16] #92 closed

[2020-12-30 14:59] schra opened #94 "Repo is unmaintained. Looking for maintainers"
Due to an internal company shift, my colleagues and I will sadly no longer have the resources to maintain this repository.

If you want to adopt the maintenance of this repo, please contact @gareth-cross.

[2021-01-10 06:58] Soverngity commented on #89
how to solve it?

[2021-01-11 10:10] beetleskin commented on #94
FTR: https://discourse.ros.org/t/rviz-satellite-maintenance/18334

[2021-01-12 05:39] iamshyamganatra commented on #94
Hi, @schra,

I'm interested in maintaining this package, I have been through the discourse post.

Currently, I can work on
- releasing this package for rosdistro
- adding CI/CD.

I would love to port this package to ROS2 but I don't currently have enough resources for that, but for sure I can manage in a couple of months to port this and release it for Foxy.

[2021-01-12 22:01] beetleskin commented on #94
Hey @iamshyamganatra, thanks a lot for the love and support!

It seems we've found a company that would like to take over maintenance under their roof, and Github organization. Currently we're working on transferring the repo. I'm sure they'd be super thankful for any contribution!

We'll keep you posted, and are looking forward to settle this within this week :)

[2021-01-19 07:44] #94 closed

[2021-01-19 07:47] Timple commented on #94
Yes, that would be us (Nobleo).

We've been using it for some of our robots for debugging. I'm also the one that requested the debian release :slightly_smiling_face:

So first order of business would probably be releasing it. For the short-term we don't have a ROS2 migration planned. But happy to take PR's in that direction.

[2021-01-19 08:53] beetleskin commented on #94
Thanks Nobleo, have fun with the tiles ;)

[2021-01-19 09:59] Timple commented on #89
Would sticking to release 3.0.1 be an option?

That works as it seems:
[code]

If you didn't suffer from the problem solved in #88 this shouldn't be a problem.

[2021-01-19 11:32] Timple commented on #82
Pragmatic check implemented

[2021-01-19 11:32] #82 closed

[2021-01-19 11:33] Timple commented on #78
Enabled ros_industrial CI with catkin_lint

[2021-01-19 11:33] #78 closed

[2021-01-19 11:42] Timple commented on #80
Pending: https://github.com/ros/rosdistro/pull/28039

[2021-01-19 18:12] schra commented on #94
Also thanks again from my side!

[2021-02-15 12:23] #80 closed

[2021-02-18 09:31] mpkuse opened #95 "confusion between TF"
Hello,
I am trying to use this plugin with rviz.

I have GPS coordinates at 100hz from sensor fusion. They are in the ENU frame (true east north and up frame).

In this case, what is the definition of the map frame? Will setting ENU to map frame as Identity suffice?
Any insights please?

[2021-02-18 10:22] Timple commented on #95
Frames should adhere to [REP-105](https://www.ros.org/reps/rep-0105.html)

There should be a map frame present and the `frame_id` of your GPS message should be part of the same TF tree as the map frame.

No

[2021-02-19 15:56] mpkuse commented on #95
I publish the origin gps cords (as NavSat msg) of map frame (satellite image) only once. Is this the intended way for the plugin?

[2021-02-23 06:14] Timple commented on #95
I think the intended way is to keep streaming GPS data. As the assumption is that the robot moves.
But I guess it should work by only publishing it once as **latched** topic. Because this plugin needs to receive the data at least once.

[2021-03-15 11:33] atasoglou commented on #46
Is the google link still working to date? We are getting "Bad request" errors.

[2021-04-15 12:44] TobiMiller commented on #92
sorry for my delayed answer.

back to my issue. i try to explain it again:

I have a **set off GPS Coordinates** (Latitude, Longitude) (generated in JOSM - OpenStreetMap Editor),
I use Mapbox for rviz_satellite and JOSM.
I chose **one gps point as reference point**,
i am using the **husky simulation**, I've set the Initial gps coordinate of the husky gazebo gps plugin to the reference point.
i pub

[2021-04-21 13:15] TobiMiller opened #97 "[BUG] Tiles are shifting when the robot changes the tile"
**What we did:**
We selected a traffic circle as a prominent location and walked along the edge of a patch of grass with an rtk module.
We have recorded the GPS topic and we perform a Navsat to ENU conversion. We broadcast the ENU conversion from "map"->"gps_link" (gps_link is the frame_id we get from our ublox f9p driver)

**What we expect:**
That the trajectory matches the satellite image.

![rt

[2021-04-21 13:25] TobiMiller commented on #97
I think this also addresses the following issue:
https://github.com/nobleo/rviz_satellite/issues/92

[2021-04-21 17:43] beetleskin commented on #97
Code-wise this makes sense and might be just natural for GNSS signals that have poor accuracy. But I can't rule out that this is yet a bug.

So the "map"->"gps_link" is purely produced by your GNSS receiver? I.e. the the GNSS is your only localization? Are the timestamps well synchronized? Are they running at the same frequency? What's the accuracy of your receiver, i.e. what's the jitter like?

[2021-04-22 09:44] TobiMiller commented on #97
@beetleskin
you see the upper image? these are the RTK corrected GPS values plotted on a mapping service like ArcGIS satellite.  this is what i would expect in rviz. a little drift but it is quiet good in my opinion ;)

have you seen the whole clip from rviz? at the edges of each tile, the tiles are shifting. My TF is looking fine -> see the trajectory which gets recorded ;) the circle remains a c

[2021-04-22 19:39] Timple commented on #97
The shifting at the tiles is very interesting. There doesn't seem to be much magic going on in the conversions.

Would this problem reproduce with an artifical (made up) GPS signal from a generator? And if so, only when doing circles or also straight lines?

[2021-04-23 13:57] TobiMiller commented on #97
@Timple
Thanks for your answer.

After the weekend, I'm happy to give this a try. I just did a big lap around the block with the robot system including Robot_localization. Straight lines and curves were driven here. The shift was still present. I will prepare and upload the material on Monday.

[2021-04-23 15:15] Timple commented on #97
That would still be measured data. It might be easier to debug (isolate) the problem with a dummy publisher of the gps signal.

[2021-04-27 14:43] TobiMiller commented on #97
@Timple
Here you go. I have done the following things:
Wrote a script that broadcasts a position as a TF. The position moves from the initial pose towards the east (x=0-1000m, y=0m).
I then converted the position to latitude and longitude like [here] (https://github.com/cra-ros-pkg/robot_localization/blob/melodic-devel/include/robot_localization/navsat_conversions.h).
When I plot the GPS coordinat

[2021-04-28 16:58] qpc001 commented on #97
I meet the same bug too.

[2021-04-29 02:23] qpc001 commented on #92
I think it's the problem with this plugin, because it's no problem when I use mapviz.

[2021-06-01 09:14] proflim123 opened #98 "Load images from computer"
Hi, is it possible to load geotiffs currently stored on the computer as opposed to getting them from a URI?

Thank you. Regards, Andres

[2021-08-30 12:52] StefanKaiser-TomTom commented on #98
I recommend setting up a local WM(T)S server to provide the images. There are several open source solutions out there. Using WMS as interface is pretty common, and I think hacking some code into the plugin to work with non-standard data would not benefit the code or feature-set. E.g. http://geoserver.org/

[2021-08-30 14:44] beetleskin commented on #98
I'm afraid not.
I recommend setting up a local WM(T)S server to provide the images. There are several open source solutions out there. Using WM(T)S as interface is pretty common for raster map renderers; and I think hacking some code into the plugin to work a rather special use-case of geotiff would not benefit the code or feature-set.

If this is jut for offline-visualization, you might want to g

[2022-01-06 10:43] Timple opened #99 "ROS2 support"
Placeholder issue.

If anyone is interested in picking this up, let me know!

Seems some initial work has been done here: https://github.com/blacksoul000/rviz_satellite/tree/dashing

Some more work here it seems: https://github.com/Kettenhoax/rviz_satellite

[2022-01-06 10:49] Timple commented on #89
Kinetic EOL

[2022-01-06 10:49] #89 closed

[2022-03-09 09:12] YuHuan1021 opened #100 "ERROR: Not enough arguments"
When I run:
`ERROR: Not enough arguments:
 * Given: ['latch', 'file=/home/yu/BigUAV/rviz_satellite/src/launch/demo.gps']
 * Expected: ['header', 'status', 'latitude', 'longitude', 'altitude', 'position_covariance', 'position_covariance_type']

Args are: [header.seq header.stamp header.frame_id status.status status.service latitude longitude altitude position_covariance position_covariance_type]`
H

[2022-03-11 21:01] beetleskin commented on #100
looks like you mixed up your topics: the plugin expects `NavSatFix` but you provide `OccupancyGrid`.

[2022-03-12 01:22] YuHuan1021 commented on #100
I open RVIZ and publish the fake gps according to `README.md` . But it looks like that no gps is found.

[2022-07-11 07:50] EnderDragonEP opened #101 "Failed to load plugin 'AerialMapDisplay'"
I'm trying to intergrade satellite images to Linorobot and display them with rviz, but I keeps getting error.
`roslaunch rviz_satellite demo.launch` shows this error message:

[gps_fix-1] process has died [pid 17298, exit code 64, cmd /opt/ros/melodic/lib/rostopic/rostopic /gps/fix __name:=gps_fix __log:=/home/eilidar/.ros/log/c4f23c6a-00e4-11ed-b27c-60a4b7c94bc5/gps_fix-1.log].
log file: /home/ei

[2022-07-11 09:52] Timple commented on #101
How did you install the package?

[2022-07-11 09:59] EnderDragonEP commented on #101
I use git clone to copy this project to my workspace src folder, then run catkin_make at workspace directory.

[2022-07-11 10:14] EnderDragonEP commented on #101
I only know `catkin_make` to build, let me try using `catkin build`.
Sorry, I'm still new to ROS.

[2022-07-11 10:26] EnderDragonEP commented on #101
Using catkin-tools run `catkin build` in workspace fix this issue. Thanks for the advice!
![image](https://user-images.githubusercontent.com/30905525/178244272-cb4e0fba-c680-497a-be5a-0c3fe2f3abb1.png)

[2022-07-11 10:27] #101 closed

[2022-07-11 11:16] Timple commented on #101
Great, happy to help!

[2022-10-02 15:18] arenas7307979 opened #102 "sample.bag not showing path"
No path appears when the rosbag play the sample.bag file
only TF topic can display to rviz,
how to display /gps_fix path to rviz world map ?

![image](https://user-images.githubusercontent.com/5019568/193461615-ebc53f59-fc79-4ba5-b40b-06daf698e742.png)

[2022-10-02 17:12] #102 closed

[2022-10-07 02:23] Hisham178 commented on #61
Hi @weisongwen

Thanks for your code. I managed to rotate the map from the center. I refactor a bit of your code.

[2022-10-07 17:40] Ed562 opened #103 "The plugin for class 'rviz_plugins/AerialMapDisplay' failed to load."
Hey guys! So I'm trying to set up rviz_satellite on ubuntu 20.04 on WSL1 with ros noetic... I'm getting this error when launching the demo.launch file:

'[ERROR] [1665163798.105047200]: PluginlibFactory: The plugin for class 'rviz_plugins/AerialMapDisplay' failed to load.  Error: Could not find library corresponding to plugin rviz_plugins/AerialMapDisplay. Make sure the plugin description XML file

[2022-11-26 23:06] vinnnyr commented on #99
There is a `ros2` branch here, but the README contains this text

I am  a little confused -- is this branch usable or not?

[2022-11-28 08:39] ilgazaskin commented on #97
I also have the same issue. @TobiMiller Could you explain how you rotated the XY Points 2.5deg in detail?

[2022-11-28 10:31] Timple commented on #99
We have not made any effort yet in this direction.

Perhaps the fork will open a PR here. Or somebody else.
I am not sure if the `ros2` branch is usable at the moment.